<footer
  class="bg-gallery bg-opacity-95 w-full h-24 fixed bottom-0 z-10 overflow-hidden"
>
  <div class="flex flex-col justify-center items-center p-3">
    <div>
      <ul class="flex">
        <li>
          <div class="w-11 p-1 hover:w-14 opacity-75 hover:opacity-100 mr-2">
            <a href="https://www.instagram.com" target="_blank"
              ><img src="/instagram.png" alt="instagramLogo" /></a
            >
          </div>
        </li>
        <li>
          <div
            class="w-11 p-1 hover:w-14 opacity-75 hover:opacity-100 ml-3 mr-3"
          >
            <a href="https://www.facebook.com" target="_blank"
              ><img src="/facebook.png" alt="facebookLogo" /></a
            >
          </div>
        </li>
        <li>
          <div class="w-11 p-1 hover:w-14 opacity-75 hover:opacity-100 ml-2">
            <a
              href="https://api.whatsapp.com/send?phone=528115083941&text=Hola%20quiero%20comprar%20un%20Yeti%20%F0%9F%98%81"
              target="_blank"><img src="/whatsapp.png" alt="whatsappLogo" /></a
            >
          </div>
        </li>
      </ul>
    </div>
    <div><p>&copy; 2023</p></div>
  </div>
</footer>
