<!-- <nav class="bg-slate-500 w-full flex justify-center items-center">
  <div class="w-20">
    <a href="#">
      <img src="/yetiLogo.png" alt="homeLogo" />
    </a>
  </div>
</nav> -->
<nav
  class="w-full fixed top-0 flex justify-center items-center z-10 h-16 overflow-hidden bg-gallery"
>
  <div class="w-20">
    <a href="#">
      <img src="/yetiLogo.png" alt="homeLogo" />
    </a>
  </div>
</nav>
